<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Striko</title>

    <script src="https://cdn.jsdelivr.net/npm/marked@0.3.6/marked.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">

    <style>
        * {
            box-sizing: border-box;
        }

        body {
            padding: 0;
            margin: 5px;
            max-width: 100%;
        }

        #app {
            display: flex;
            flex-flow: column;
        }

        #app>section:first-child {
            width: 100%;
        }

        #app>section:first-child label {
            width: 100%;
            display: block;
        }

        #app>section:first-child input,
        #app>section:first-child textarea {
            width: 100%;
            resize: vertical;
        }


        @media print,
        screen AND (min-width: 660px) {
            #app {
                flex-flow: row;
            }

            body {
                margin: 20px;
            }


            #app>section:first-child {
                width: 320px;
                margin-right: 20px;
            }

            #app>section:last-child {
                width: calc(100% - 340px);
                max-width: 640px;
            }
        }
    </style>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/lodash"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.min.js"></script>

    <header>
        <h1>Striko</h1>
    </header>
    <main id="app">
        <section>
            <label>Date de début:</label><input type="date" :value="startDate && startDate.toISOString().split('T')[0]"
                @input="startDate = $event.target.valueAsDate">
            <label>Horaire de début:</label><input v-model="startTime">
            <label>Date de fin:</label><input type="date" :value="endDate && endDate.toISOString().split('T')[0]"
                @input="endDate = $event.target.valueAsDate">
            <label>Horaire de fin:</label><input v-model="endTime">
            <label>Pourquoi faire grève:</label><textarea :value="why" @input="updateWhy"></textarea>
            <label>Nom du syndicat:</label><input v-model="unionName">
            <label>Revendications:</label><textarea :value="claims" @input="updateClaims"></textarea>
            <label>Votre nom:</label><input v-model="name">
        </section>
        <section>
            Madame, Monsieur,<br>
            <br>
            Par la présente et conformément à l'article L2511-1 et suivants du Code du travail, je vous notifie de
            ma participation à la grève.<br>
            Le mouvement de protestation débutera le
            <span>{{formatDate(startDate)}}</span><span v-if="!!startTime"> à partir de {{startTime}}</span>, et
            prendra fin le
            <span>{{formatDate(endDate)}}</span><span v-if="!!endTime"> à partir de {{endTime}}</span>.
            <span v-html="compiledWhyMarkdown"></span>
            A ce titre, je partage <span v-if="!!unionName">les revendications du syndicat {{unionName}}</span><span
                v-else>mes revendications</span> ci-dessous :<br>
            <div v-html="compiledClaimsMarkdown"></div>

            Recevez, Madame, Monsieur, l'expression de mes salutations les plus distinguées.<br>
            <br>
            <span>{{ name }}</span>
        </section>
    </main>
    <script>
        let today = new Date();
        let tomorrow = new Date(new Date().setDate(today.getDate() + 1))
        var app = new Vue({
            el: '#app',
            data: {
                name: 'Nomen Nescio',
                startDate: today,
                startTime: today.toLocaleTimeString('fr-Fr', { hour: '2-digit', minute: '2-digit' }),
                endDate: tomorrow,
                endTime: tomorrow.toLocaleTimeString('fr-Fr', { hour: '2-digit', minute: '2-digit' }),
                why: "Par cette action, je souhaite exprimer ma solidarité envers l'ensemble des acteurs de la fonction publique.",
                unionName: "",
                claims: `* Un taux de remplacement à 75 % des dix meilleures années ou du dernier indice,
* Une durée de cotisation de 37 ans et demi,
* Pas de pension inférieure au seuil de pauvreté,
* L’égalité entre les hommes et les femmes au travail comme dans la retraite,
* Départ à 60 ans, à 55 ans pour les métiers pénibles, pas de recul sur les droits acquis.
* Les moyens existent : augmenter les cotisations des entreprises en premier lieu.`
            },
            computed: {
                compiledClaimsMarkdown: function () {
                    return marked(this.claims, {
                        sanitize: true
                    })
                },
                compiledWhyMarkdown: function () {
                    return marked(this.why, {
                        sanitize: true
                    })
                }
            },
            methods: {
                updateClaims: _.debounce(function (e) {
                    this.claims = e.target.value
                }, 300),
                updateWhy: _.debounce(function (e) {
                    this.why = e.target.value
                }, 300),
                formatDate: date => date.toLocaleDateString('fr-Fr', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })
            }
        })
    </script>


</body>
</html>
